body,
html {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ff5101;
  width: 100%;
}

.header {
  width: 430px;
}

.header img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.input-container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#calculateBtn {
  width: 100%;
}

input {
  width: 100%;
  margin: 0;
  height: 32px;
  border-radius: 6px;
  border: solid 2px #dedede;
  padding: 0 10px;
  box-sizing: border-box;
}

.input-container div {
  margin-right: 10px;
}

.input-container button {
  background-color: #ff5101;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
}

.price-breakdown {
  padding: 10px;
  font-size: 16px;
}

table {
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-radius: 8px;
  border-collapse: collapse;
}

th,
td {
  border: none;
  text-align: left;
  padding: 5px 10px;
}

.exchange-table {
  margin: 10px;
  width: calc(100% - 20px);
  background-color: #dedede;
  padding: 5px;
  font-size: 16px;
}

.exchange-table td {
  padding: 5px;
}

.price-breakdown th,
.price-breakdown td:not(:last-of-type) {
  padding: 10px;
}

.price-breakdown tr.darker th,
.price-breakdown tr.darker td {
  background-color: #dedede;
}

.price-breakdown tr.lighter th,
.price-breakdown tr.lighter td {
  background-color: #f9f9f9;
}

.price-breakdown tr:first-of-type th {
  border-radius: 6px 0 0 0;
}

.price-breakdown tr:first-of-type td {
  border-radius: 0 6px 0 0;
}

.price-breakdown tr:last-of-type th {
  border-radius: 0 0 0 6px;
}

.price-breakdown tr:last-of-type td:last-of-type {
  border-radius: 0 0 6px 0;
}

.price-breakdown > b {
  display: block;
  margin-top: 20px;
  background: #dedede;
  border-radius: 8px;
  padding: 10px;
}

#totalPrice {
  font-size: 30px;
  color: #ff5101;
  padding-left: 45px;
}

#loader {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: block;
  margin: 20px auto;
}

.accent {
  color: #ff5101;
  font-weight: bold;
}

.centered-bold {
  display: block;
  text-align: center;
  font-weight: bold;
}
